# git ignore file
#ignore binary solution file
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.atsuo
FlightComputerLog*.csv
SimulatorLog*.csv
CodeProjects/FlightComputer/Helicopter/Helicopter.atsuo
CodeProjects/GroundControlStation/logs/ahrsopt/evaluations/~$Analysis5.xlsx
CodeProjects/GroundControlStation/logs/ahrsopt/evaluations/Analysis2.xlsx
CodeProjects/GroundControlStation/logs/ahrsopt/evaluations/Analysis3.xlsx
CodeProjects/GroundControlStation/logs/ahrsopt/evaluations/Analysis4.xlsx
CodeProjects/GroundControlStation/logs/ahrsopt/evaluations/Analysis5.xlsx
CodeProjects/GroundControlStation/logs/ahrsopt/evaluations/experimentalAHRSEval.xlsx
CodeProjects/GroundControlStation/logs/FlightComputerLog_04_16_2015_092238_2.xlsx
CodeProjects/GroundControlStation/logs/FlightComputerLog_04_18_2015_012901_test.xlsx
CodeProjects/GroundControlStation/logs/FlightComputerLog_04_18_2015_114236_test.xlsx
Media/GOPR0058.MP4
Media/GOPR0059.MP4
Media/GOPR0060 - Copy.MP4
Media/GOPR0060.MP4
Media/GOPR0061.MP4
Media/GOPR0071.LRV
Media/GOPR0071.MP4
Media/GOPR0071.THM
Media/GOPR0072.LRV
Media/GOPR0072.MP4
Media/GOPR0072.THM
Media/GOPR0073.LRV
Media/GOPR0073.MP4
Media/GOPR0073.THM
Media/GOPR0074.LRV
Media/GOPR0074.MP4
Media/GOPR0074.THM
Media/GOPR0075.LRV
Media/GOPR0075.MP4
Media/GOPR0075.THM
Media/GOPR0076.LRV
Media/GOPR0076.MP4
Media/GOPR0076.THM
Media/GOPR0077.LRV
Media/GOPR0077.MP4
Media/GOPR0077.THM
Media/GOPR0078.LRV
Media/GOPR0078.MP4
Media/GOPR0078.THM
Media/GOPR0079.LRV
Media/GOPR0079.MP4
Media/GOPR0079.THM
Media/GOPR0080.LRV
Media/GOPR0080.MP4
Media/GOPR0080.THM
Media/GOPR0081.LRV
Media/GOPR0081.MP4
Media/GOPR0081.THM
Media/GOPR0082.LRV
Media/GOPR0082.MP4
Media/GOPR0082.THM
Media/GOPR0083.LRV
Media/GOPR0083.MP4
Media/GOPR0083.THM
Media/GOPR0084.LRV
Media/GOPR0084.MP4
Media/GOPR0084.THM
Media/GOPR0085.LRV
Media/GOPR0085.MP4
Media/GOPR0085.THM
Media/GP010076.LRV
Media/GP010076.MP4
